<mat-toolbar class="bg-secondary text-text-secondary shadow-md border-b-black toolbar flex justify-between">
    <div class="flex justify-start">
        <!-- <button mat-icon-button *ngIf="!isMobile" (click)="expandSidenav()" class="relative left-3 flex items-center">
            <mat-icon matListItemIcon class="chevron-button text-text-secondary"
                [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon>
        </button> -->
        <div class="ml-4">Insights</div>
    </div>
    <div>

    </div>
    <div class="flex items-center">
        <div class="flex items-center cursor-pointer">
            <mat-icon (click)="toggleDarkMode()" 
                class="mr-3"
                [ngClass]="{'text-yellow-300': darkMode}"
            >{{darkMode ? 'light_mode' :'dark_mode'}}</mat-icon>
        </div>
        <mat-icon *ngIf="isMobile" class="cursor-pointer" (click)="toggleSidenav()">menu</mat-icon>
    </div>
</mat-toolbar>