<mat-nav-list class="px-2">
    <div class="h-12 flex items-center justify-center">
        <img src="/assets/logo.png" alt="" class="object-contain h-4/6">
    </div>
    <div class="flex my-2 items-center justify-center" *ngFor="let menu of navigationMenu">
        <mat-list-item 
            [routerLinkActiveOptions]="{exact: true}" 
            [routerLink]="menu.url" 
            routerLinkActive="active-link" 
            class="h-12 rounded-lg m-0" (click)="isMobile ? toggleSidenav() : ''">
            <mat-icon matListItemIcon class="mx-3 text-white">{{menu.icon}}</mat-icon>
            <span class=" text-white">{{menu.name}}</span>

        </mat-list-item>
    </div>

</mat-nav-list>